<h1 class="text-center p-2">Manage Courses</h1>
<form action="#">
  <div class="mb-1 p-2 text-center">
    <label class="form-label">STUDENT ID</label>
    <input type="text" class="form-control text-center" placeholder="Eg:- Enter Your Student ID">
  </div>
  <div class="mb-1 p-2 text-center">
    <label class="form-label">DESCRIPTION</label>
    <input  type="text" class="form-control text-center" placeholder="Eg:- Enter Course Name">
  </div>
  <div class="mb-1 p-2 text-center">
    <label class="form-label">DURATION</label>
    <input  type="text" class="form-control text-center" placeholder="Eg:- 4 months">
  </div>
  <div class="d-flex justify-content-center gap-2">
    <button type="submit" class="btn btn-primary">Save
    </button>
    <button type="reset" class="btn btn-warning" >Clear</button>
  </div>
</form>
<div class="p-2">
  <table class="table table-bordered mt-3 table-hover">
    <thead>
    <tr>
      <th class="text-center">STUDENT ID</th>
      <th class="text-center">DESCRIPTION</th>
      <th class="text-center">DURATION</th>
      <th class="text-center">ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-center">S001</td>
      <td class="text-center">DBMS</td>
      <td class="text-center">4 months</td>
      <td>
        <div class="d-flex gap-4 justify-content-center">
          <div  class="editIcon" title="Edit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                 class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </div>
          <div class="deleteIcon" title="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                 class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
